version: '2'

services:
  django-service:
    build: ./
    #image: django-devf
    ports:
      - "8000:8000"
    depends_on:
      - mysql-docker

  mysql-docker:
    image: mysql
    environment:
      - MYSQL_ROOT_PASSWORD=root